<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Mepi</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <!-- Le styles -->
        <h:outputStylesheet name="css/bootstrap.min.css"/>

        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }

            .sidebar-nav {
                padding: 9px 0;
            }
        </style>

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Le fav and touch icons
        <link rel="shortcut icon" href="../assets/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
        -->

    </h:head>
    <h:body>
        <h:form>

            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" href="/mepi.jsf">Mepi</a>

                        <div class="nav-collapse">
                            <ul class="nav">
                                <li><h:outputLink value="/newMepo.jsf" rendered="#{userInfo.loggedIn}">
                                        Create Mepo
                                    </h:outputLink>
                                </li>
                            </ul>
                            <p class="navbar-text pull-right">
                                <h:outputText value="Logged in as #{userInfo.nickName}"
                                               rendered="#{userInfo.loggedIn}"/>
                                <h:commandLink action="#{authenticationService.logout}"
                                               value="Logout"
                                               rendered="#{userInfo.loggedIn}"/>
                                <h:outputLink value="/login.jsf"
                                              rendered="#{!userInfo.loggedIn}">
                                    Login
                                </h:outputLink>
                            </p>
                        </div>
                        <!--/.nav-collapse -->
                    </div>
                </div>
            </div>
        </h:form>


        <div class="container">

            <ui:insert name="content">
                [Template content will be inserted here]
            </ui:insert>
            <hr/>

            <footer>
                <p>&copy; EPU 2012-Current</p>
            </footer>

        </div>
        <!--/.fluid-container-->

        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <h:outputScript name="js/jquery-1.8.3.min.js"/>
        <h:outputScript name="js/bootstrap.min.js"/>
    </h:body>
</html>