<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/templates/default.xhtml">

    <ui:define name="content">
        <ui:repeat value="#{loadMepi}" var="mepo">
            <div class="well-large">
                <div class="item">#{mepo.content}</div>
                <div class="info">On #{mepo.createdAt}, by #{mepo.author}.</div>
            </div>
        </ui:repeat>
    </ui:define>
</ui:composition>