<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/WEB-INF/templates/default.xhtml">

    <ui:define name="content">
        <h:messages/>
        Create Mepo :<br/>
        <h:form>
            Message : <h:inputTextarea value="#{newMepo.content}"></h:inputTextarea><br/>
            <h:commandButton value="Save"
                             action="#{mepiController.insertMepo}"/>
        </h:form>
    </ui:define>

</ui:composition>